/* CSS for the navigation bar */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Quicksand, sans-serif;
    overflow: hidden;
}

/* Apply box-sizing to all elements */
* {
    box-sizing: border-box;
}

/* Navigation bar styling */
.navbar {
    display: flex;
    overflow: hidden; /* Prevent content overflow */
    position: fixed; /* Fix the navbar to the top */
    top: 0; /* Align to the top of the page */
    left: 0; /* Ensure it starts from the left edge */
    z-index: 1000; /* Ensure it stays above other elements */
    padding: 0; /* Remove padding */
}

/* Navigation links styling */
.navbar a {
    padding: 8px 15px; /* Padding for links */
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/* Hover and active effect for links */
.navbar a:hover,
.navbar a.active {
    text-decoration: underline; /* Add underline */
    text-underline-offset: 7px; /* Adding the distance of the underline from the text */
    text-decoration-thickness: 2px; /* Underline thickness */
    text-decoration-color: white; /* Colour of underline set to white */
    transition: all 0.3s ease; /* Smooth transition for hover effect */
}

/* Hover effect for links on the upload page */
.upload-page .navbar a {
    color: black !important; /* Always set the font color to black */
    text-decoration: none; /* Remove underline by default */
    transition: all 0.3s ease; /* Smooth transition for hover effect */
}

.upload-page .navbar a:hover,
.upload-page .navbar a.active {
    color: black !important; /* Ensure the font color remains black on hover */
    text-decoration: underline; /* Add underline on hover */
    text-underline-offset: 7px; /* Distance of the underline from the text */
    text-decoration-thickness: 2px; /* Underline thickness */
    text-decoration-color: black; /* Set underline color to black */
}


/*Currently signin as and logged in button styling*/
.navbar-user-group {
    margin-left: auto; /* Push entire group to the right */
    display: flex;
    align-items: center;
    gap: 20px; /* space between user info and button */
}

.navbar-user {
    color: white;
    font-size: 18px;
}

.logout-btn {
    margin-top: 0;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 18px;
}

/*Upload page specific styling*/
.upload-page .navbar-user-group {
    margin-left: auto; /* Push entire group to the right */
    display: flex;
    align-items: center;
    gap: 20px; /* space between user info and button */
}

.upload-page .navbar-user {
    color: black;
    font-size: 18px;
}

.upload-page .logout-btn {
    margin-top: 0;
    background: none;
    border: none;
    cursor: pointer;
    color: black;
    font-size: 18px;
}

/* Responsive design for smaller screens */
@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
}