/* CSS for the navigation bar */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Quicksand, sans-serif;
}

/* Apply box-sizing to all elements */
* {
    box-sizing: border-box;
}

/* Navigation bar styling */
.navbar {
    overflow: hidden; /* Prevent content overflow */
    position: fixed; /* Fix the navbar to the top */
    top: 0; /* Align to the top of the page */
    left: 0; /* Ensure it starts from the left edge */
    z-index: 1000; /* Ensure it stays above other elements */
    padding: 0; /* Remove padding */
}

/* Navigation links styling */
.navbar a {
    float: left;
    padding: 8px 15px; /* Padding for links */
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/* Hover and active effect for links */
.navbar a:hover,
.navbar a.active {
    text-decoration: underline; /* Add underline */
    text-underline-offset: 7px; /* Adding the distance of the underline from the text */
    text-decoration-thickness: 2px; /* Underline thickness */
    text-decoration-color: white; /* Colour of underline set to white */
    transition: all 0.3s ease; /* Smooth transition for hover effect */
}

/* Hover effect for links on the upload page */
.upload-page #navbar-placeholder a {
    color: black !important; /* Always set the font color to black */
    text-decoration: none; /* Remove underline by default */
    transition: all 0.3s ease; /* Smooth transition for hover effect */
}

.upload-page #navbar-placeholder a:hover,
.upload-page #navbar-placeholder a.active {
    color: black !important; /* Ensure the font color remains black on hover */
    text-decoration: underline; /* Add underline on hover */
    text-underline-offset: 7px; /* Distance of the underline from the text */
    text-decoration-thickness: 2px; /* Underline thickness */
    text-decoration-color: black; /* Set underline color to black */
}

/* Responsive design for smaller screens */
@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
}