
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Sign-in/up page */
#rainbow-box {
    width: 100vw;
    height: 100vh;
    position: relative;
    background: rgba(255, 0, 0, 10.01);
    background: linear-gradient(
        125deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%);
}

.intro-container {
    width: 80vw;
    height: 75vh;
    background-color: white;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: flex-start;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    box-sizing: border-box;
    padding: 7%;
}

.application-context, .sign-in-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.application-context h1, .sign-in-container h1 {
    margin-bottom: 40px;
}

#app-title {
    font-family: "Fugaz One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.application-context {
    text-align: center;
}

#sign-button {
    margin-top: 10px;
}

.sign-in-container p {
    margin-top: 20px;
}

/* container changes for sign-up page */
.alt-style1 {
    width: 35vw;
    justify-content: center;
}

.sign-up {
    width: 90%;
    text-align: center;
}

.sign-up h1 {
    margin-bottom: 40px;
}

.vertical-separator {
    width: 3px;
    height: 100%;
    border-radius: 1px;
    background-color: rgb(132, 143, 147);
    margin-left: 7%;
    margin-right: 7%;
}