{% extends "base.html" %}
<!-- extends establishes inheritance link between two templates -->
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
{% endblock %}

{% block content %}
<div id="rainbow-box">
    <div class="intro-container">
        <div class="application-context">
            <h1 id="app-title">COLOUR MANIA</h1>
            <p>Have you ever wondered just how good your eye for colour is?
                By taking our colour discrimination test, you can find out how
                accurately you can tell colours apart!
            </p>
            <p>Discover which hues you can
                differentiate best, which hues fly under your radar and an estimation of
                how many total colours you can see/differentiate between! The more
                times you take the test, the more accurate the results.</p>
        </div>
        <div class="vertical-separator"></div>
        <div class="sign-in-container">
            <h1>Sign In</h1>
            <form method="POST" action="{{ url_for('index') }}">
            {{ form.hidden_tag() }}
                <div class="mb-3">
                    {{ form.username(class="form-control form-control-lg", placeholder="Username") }}
                    {% if form.username.errors %}
                        <div class="error">
                            {{ form.username.errors[0] }}
                        </div>
                    {% endif %}
                </div>
                <div class="mb-2">
                    {{ form.password(class="form-control form-control-lg", placeholder="Password") }}
                    {% if form.password.errors %}
                        <div class="error">
                            {{ form.password.errors[0] }}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group">
                {{ form.register.label }}
                {{ form.register }}
                </div>
                <div class="mb-3">
                {{ form.submit(class="btn btn-primary btn-lg w-100", id="sign-button") }}
                </div>
            </form>
            <p>New to Colour Mania? <a href="{{ url_for('sign_up') }}">Join here!</a></p>
        </div>
    </div>
</div>
{% endblock %}