<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<div class="navbar">
    <!-- TO DO IMPLEMENTATION: <a class="active" href="sign-up.html"><i class="fas fa-edit"></i>Sign Up</a> -->
    <a href="{{ url_for('main.upload') }}"><i class="fas fa-palette"></i> Upload</a> 
    <a href="{{ url_for('main.visualise') }}"><i class="fas fa-vector-square"></i> Graphs and Statistics</a> 
    <a href="{{ url_for('main.share') }}"><i class="fas fa-share-alt"></i> Share with Friends</a>

    {% if current_user.is_authenticated %}
    <div class="navbar-user-group">
    <span class="navbar-user"><i class="fas fa-user"></i> Logged in as: {{ current_user.username }}</span>
    <form action="{{ url_for('main.logout') }}" method="get">
        <button type="submit" class="logout-btn">
            <i class="fas fa-sign-out-alt"></i> Log Out
        </button>
    </form>
    </div>
    {% endif %}
</div>