{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/share.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
{% endblock %}

{% block content %}
<div class="share-container">
  <div class="main-container">
    <div class = "container-box">
        <h1>Share Data</h1>
    </div>

    <div class = "container-box">
        <h2>Add friends to send them your results!</h2>
    </div>

    <div class = "container-box">
        <div class="search-container">
            <input type="text" class="search-input" placeholder="add friend" />
            <button class="search-button">Add</button>
        </div>
    </div>
      
    <div class="friends-list-container">
        <div class="search-container">
            <input type="text" class="search-input" placeholder="search friends" />
            <button class="search-button">Search</button>
        </div>
        <ul class="scrollable-list">
            <li>
                <span class="friend-name">Friend 1</span>
                <a href="#"><i class="fas fa-eye"></i> View</a>
            </li>
            <li>
                <span class="friend-name">Friend 2</span>
                <a href="#"><i class="fas fa-eye"></i> View</a>
            </li>
            <li>
                <span class="friend-name">Friend 3</span>
                <a href="#"><i class="fas fa-eye"></i> View</a>
            </li>
            <li>
                <span class="friend-name">Friend 4</span>
                <a href="#"><i class="fas fa-eye"></i> View</a>
            </li>
            <li>
                <span class="friend-name">Friend 5</span>
                <a href="#"><i class="fas fa-eye"></i> View</a>
            </li>
            <li>
                <span class="friend-name">Friend 6</span>
                <a href="#"><i class="fas fa-eye"></i> View</a>
            </li>
            <li>
                <span class="friend-name">Friend 7</span>
                <a href="#"><i class="fas fa-eye"></i> View</a>
            </li>
            <li>
                <span class="friend-name">Friend 8</span>
                <a href="#"><i class="fas fa-eye"></i> View</a>
            </li>
            <li>
                <span class="friend-name">Friend 9</span>
                <a href="#"><i class="fas fa-eye"></i> View</a>
            </li>
            <li>
                <span class="friend-name">Friend 10</span>
                <a href="#"><i class="fas fa-eye"></i> View</a>
            </li>
            <li>
                <span class="friend-name">Friend 11</span>
                <a href="#"><i class="fas fa-eye"></i> View</a>
            </li>
            <li>
                <span class="friend-name">Friend 12</span>
                <a href="#"><i class="fas fa-eye"></i> View</a>
            </li>
        </ul>        
      </div>
{% endblock %}