{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
{% endblock %}

{% block content %}
<div class="share-container">
  <div class="main-container">
    <div class = "container-box">
        <h1>Share Data</h1>
    </div>

    <div class = "container-box">
        <h2>Add friends to send them your results!</h2>
    </div>

    <div class = "container-box">
        <div class="search-container">
            <input type="text" class="search-input" placeholder="add friend" />
            <button class="search-button">Add</button>
        </div>
        <div class="vertical-separator"></div>
        <!-- Add Friend by Username Box -->
        <div class="add-friend-container">
            <h2>Add Friend by Username</h2>
            <form>
                <div class="mb-2">
                    <input type="text" class="form-control form-control-lg" placeholder="Enter Username">
                </div>
                <button type="submit" class="btn btn-success btn-lg w-100" id="add-friend-button">Add Friend</button>
            </form>
        </div>
        <div class="vertical-separator"></div>
        <!-- Friend Requests List -->
        <div class="friend-requests-container">
            <h2>Friend Requests</h2>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between">
                    <span>JohnDoe</span>
                    <div>
                        <button class="btn btn-primary btn-sm">Accept</button>
                        <button class="btn btn-danger btn-sm">Reject</button>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span>JaneSmith</span>
                    <div>
                        <button class="btn btn-primary btn-sm">Accept</button>
                        <button class="btn btn-danger btn-sm">Reject</button>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span>ColorFan99</span>
                    <div>
                        <button class="btn btn-primary btn-sm">Accept</button>
                        <button class="btn btn-danger btn-sm">Reject</button>
                    </div>
                </li>
            </ul>
        </div>
        <div class="vertical-separator"></div>
        <!-- Friends List -->
        <div class="friends-container">
            <h2>Your Friends</h2>
            <ul class="list-group">
                <li class="list-group-item">AliceGreen</li>
                <li class="list-group-item">BobBlue</li>
                <li class="list-group-item">CharlieYellow</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
