{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
{% endblock %}

{% block content %}
<div id="rainbow-box">
    <div class="intro-container alt-style1">
        <div class="sign-in-container sign-up">
            <h1>Sign Up</h1>
            <form method="POST" action="{{ url_for('main.sign_up') }}">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.username(class="form-control form-control-lg", placeholder="Username") }}
                {% if form.username.errors %}
                <div class="error">
                    {{ form.username.errors[0] }}
                </div>
                {% endif %}
            </div>
            <div class="mb-2">
                {{ form.password(class="form-control form-control-lg", placeholder="Password") }}
                {% if form.password.errors %}
                <div class="error"></div>
                    {{ form.password.errors[0] }}
                </div>
                {% endif %}
            </div>
            <div class="mb-3"></div>
                {{ form.submit(class="btn btn-primary btn-lg w-100", id="sign-button") }}
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}