{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/visualise.css') }}">
{% endblock %}

{% block content %}
<script src="{{ url_for('static', filename='js/plotly-latest.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/unlock-graph.js') }}"></script>

<div class="visualise-container">
  <div class="main-container">
    <!-- Top Left: Unlocked Count -->
    <div id="unlocked-count-container" class="container-box">
      <h2>Colors Identified Correctly</h2>
      <div class="content-wrapper">
        <!-- the max possible numbers is 16777216 -->
        <p id="colour-count">5</p>
      </div>
    </div>

    <!-- Top Right: Gradient -->
    <div id="gradient" class="container-box">
      <h2>Gradient</h2>
      <div id="gradientDisplay"></div>
    </div>

    <!-- Bottom Left: Unlocked Colours Graph -->
    <div id="colour-graph" class="container-box"></div>

    <!-- Bottom Right: Swatches -->
    <div id="swatches" class="container-box">
      <h2>Colours You Find Tricky</h2>
      <div id="swatchDisplay"></div>
    </div>
</div>
{% endblock %}
