{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/visualise.css') }}">
{% endblock %}

{% block content %}
<script src="{{ url_for('static', filename='js/plotly-latest.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/unlock-graph.js') }}"></script>

<div class="visualise-container">
  <div class="main-container">
    <!-- Top Left: Unlocked Count -->
    <div id="unlocked-count-container" class="container-box">
      <h2>Colours Identified Correctly</h2>
      <div class="content-wrapper">
        <!-- the max possible numbers is 16777216 -->
        <p id="color-count">{{ correct_matches }}</p>
      </div>
    </div>

    <!-- Top Right: Gradient -->
    <div id="gradient" class="container-box">
      <p id="instructions">Select from the swatches below to see the colour difference of any incorrect matches</p>
      <div class="content-wrapper hidden">
        <div class="colour-diff-labels">
          <h3>Correct Colour</h3>
          <h3>What You Selected</h3>
        </div>
        <div class="gradient-container"></div>
        <h2 id="euclidean-text">The Euclidean distance (difference) of these two colours is <span id="distance-val">271.26</span></h2>
      </div>
    </div>

    <!-- Bottom Left: Unlocked Colours Graph -->
    <div id="color-graph" class="container-box"></div>
      
    <!-- Bottom Right: Swatches -->
    <div id="swatches" class="container-box">
      <h2 id="label">Colours You Find Tricky</h2>
      <div class="swatch-grid" id="swatch-grid">
        <!-- Swatches will be inserted here dynamically -->
      </div>
    </div>
</div>
{% endblock %}
